@using DynamicRazorRender.Shared;
@using Microsoft.JSInterop;
@using Masa.Blazor.Extensions.Languages.Razor;
@using Microsoft.AspNetCore.Components;

@* @inject KeyEventBus<string> _envetBus; *@
@* @inject IJSRuntime _jsRuntime; *@
@* @inject IServiceProvider _serviceProvider; *@


@if (componentType == null)
{
    <h1>1 Hello World!</h1>
}
else
{
    <MApp>
        <DynamicComponent Type="componentType"></DynamicComponent>
    </MApp>
}

@code {
    
    protected Type? componentType;

    [Inject]
    protected KeyEventBus<string> _eventBus { get; set; } = default!;

    [Inject]
    protected IJSRuntime _jsRuntime { get; set; } = default!;

    [Inject]
    protected IServiceProvider _serviceProvider { get; set; } = default!;

    protected virtual void RegisterEventBus()
    {
        // 订阅编译事件
        _eventBus.Subscription(EventConstants.RenderComponent, async (value) =>
        {
            try
            {
                componentType = RazorCompile.CompileToType(
                    new CompileRazorOptions
                    {
                        Code = value,
                        ConcurrentBuild = false
                    }
                    );

                _ = InvokeAsync(StateHasChanged);
            }
            catch (System.Exception ex)
            {
                await _jsRuntime.InvokeVoidAsync(
                    "window.postMessage",
                    new
                    {
                        type = "error",
                        message = ex.Message,
                        details = ex.ToString()
                    }
                    );

                componentType = null;
            }
        });

        // bootstrap/masa 单独处理
    }

    protected override Task OnInitializedAsync()
    {
        RegisterEventBus();
        return base.OnInitializedAsync();
    }
}
